# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE folders
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Job data (optional)
saved_jobs/saved_jobs.json
saved_jobs.csv
